* {
    box-sizing: border-box;
}

.controls-panel:after {
    content: '';
    clear: both;
    display: table;
}


.modal {
    margin: 0 auto;
    opacity: 0;
    -webkit-animation: drop-in 1s;
    animation: drop-in 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.modal-heading {
    opacity: 0;
    -webkit-animation: appear 0.5s ease-out;
    animation: appear 0.5s ease-out;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    font-weight: 300;
    padding: 1rem;
    color: #6E8ECE;
}

.signature-panel {
    background-color: #f0f3fa;
}

.controls-panel {
    padding: 1rem;
}

.sidebar-nav .btn-success {
    margin-top:1em;
    margin-left:1em;
    margin-bottom:1em;
}



@media (min-width: 570px) {
    .skip-link {
        float: right;
    }
}

@-webkit-keyframes drop-in {
    0% {
        -webkit-transform: translateY(-1rem);
        transform: translateY(-1rem);
    }

    50% {
        -webkit-transform: translateY(4rem);
        transform: translateY(4rem);
    }

    100% {
        -webkit-transform: translateY(3rem);
        transform: translateY(3rem);
        opacity: 1;
    }
}

@keyframes drop-in {
    0% {
        -webkit-transform: translateY(-1rem);
        transform: translateY(-1rem);
    }

    50% {
        -webkit-transform: translateY(4rem);
        transform: translateY(4rem);
    }

    100% {
        -webkit-transform: translateY(3rem);
        transform: translateY(3rem);
        opacity: 1;
    }
}

@-webkit-keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}
