@{
    ViewBag.Title = "VTeamHub - Tạo chữ ký riêng biệc cho bạn";
}
<style>
    #navbar ul.navbar-nav li a{
        color:white;
    }
</style>
<section>
    <div class="jumbotron jumbotron-fluid" id="index">
        <div class="container">
            <h1>Ký kết văn bản online</h1>
            <p class="">Hổ trợ chú thích văn bản, thêm và tạo chữ ký điện tự cho văn bản</p>
        </div>
    </div>
</section>


<section>
    <div class="index-sign" style=" background-color: #36a7f1;">
        <h3 class="index-h3">Chúng tôi hổ trợ các bạn thêm chữ ký và tạo chữ ký điện tử cho chính bạn</h3>
        <div class="row">
            <div class="col-md-6 col-sm-12" style="padding-left:5%; padding-bottom:3%;">
                <h4 class="text-white">Ký lên lên tài liệu</h4>
                <p class="text-white">Upload file PDF lên và thực hiện việc chỉnh sửa trực tiếp trên web</p>
            </div>
            <div class="col-md-6 col-sm-12 text-center" style="padding-bottom:3%;">
                <img class="w-75" src="~/Content/image/index-sign.jpg" />
            </div>
        </div>
    </div>
</section>


<section>
    <div class="index-sign" style=" background-color: #cf4a4a;">
        <h3 class="index-h3">Chúng tôi hổ trợ các bạn thêm chữ ký và tạo chữ ký điện tử cho chính bạn</h3>
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center" style="padding-bottom:3%;">
                <img class="w-75" src="~/Content/image/index-sign.jpg" />
            </div>
            <div class="col-md-6 col-sm-12" style="padding-left:5%; padding-bottom:3%;">
                <h4 class="text-white">Ký lên lên tài liệu</h4>
                <p class="text-white">Upload file PDF lên và thực hiện việc chỉnh sửa trực tiếp trên web</p>
            </div>

        </div>
    </div>
</section>



<section>
    <div class="index-sign" style=" background-color: #6165b2">
        <h3 class="index-h3">Chúng tôi hổ trợ các bạn thêm chữ ký và tạo chữ ký điện tử cho chính bạn</h3>
        <div class="row" style="z-index:100;">
            <div class="col-md-6 col-sm-12" style="padding-left:5%; padding-bottom:3%;">
                <h4 class="text-white">Ký lên lên tài liệu</h4>
                <p class="text-white">Upload file PDF lên và thực hiện việc chỉnh sửa trực tiếp trên web</p>
            </div>
            <div class="col-md-6 col-sm-12 text-center" style="padding-bottom:3%;">
                <img class="w-75" src="~/Content/image/index-sign.jpg" />
            </div>
        </div>

    </div>
</section>
<section>
    <div id="listEmployee" >
        <h1 class="index-h3" style="color: #6165b2">Đội ngủ nhân viên</h1>
        <div class="owl-carousel owl-theme">
            <div class="item ">
                <img class="w-75 center" src="~/Content/image/profile/43604294_1180505865433986_8249701675246288896_n.jpg" />
                <h4 class="text-center text-white">Dương Công Vủ</h4>
                <p class="text-center text-white">Developer</p>
            </div>
            <div class="item">
                <img class="w-75 center" src="~/Content/image/profile/43604294_1180505865433986_8249701675246288896_n.jpg" />
            </div>
            <div class="item">
                <img class="w-75 center" src="~/Content/image/profile/43604294_1180505865433986_8249701675246288896_n.jpg" />
            </div>
        </div>
    </div>
</section>