
@{
    ViewBag.Title = "Pricing - VTeamHub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pricing">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="pricingTable">
                <div class="pricingTable-header">
                    <span class="price-value">10<span class="currency">$</span></span>
                    <h3 class="title">Free</h3>
                </div>
                <ul class="pricing-content">
                    <li>5 eSignatures per month</li>
                    <li>
                        3 Sign Requests per month
                    </li>
                    <li>3 Signers per doc</li>
                    <li>3 Emails per day</li>
                    <li>15 document per day</li>
                </ul>
                <a href="#" class="pricingTable-signup">Sign Up</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="pricingTable green">
                <div class="pricingTable-header ">
                    <span class="price-value">10<span class="currency">$</span></span>
                    <h3 class="title">Personal</h3>
                </div>
                <ul class="pricing-content">
                    <li>5 eSignatures per month</li>
                    <li>
                        3 Sign Requests per month
                    </li>
                    <li>3 Signers per doc</li>
                    <li>3 Emails per day</li>
                    <li>15 document per day</li>
                </ul>
                <a href="#" class="pricingTable-signup">Sign Up</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="pricingTable orange">
                <div class="pricingTable-header ">
                    <span class="price-value">10<span class="currency">$</span></span>
                    <h3 class="title">Bussiness</h3>
                </div>
                <ul class="pricing-content">
                    <li>5 eSignatures per month</li>
                    <li>
                        3 Sign Requests per month
                    </li>
                    <li>3 Signers per doc</li>
                    <li>3 Emails per day</li>
                    <li>15 document per day</li>
                </ul>
                <a href="#" class="pricingTable-signup">Sign Up</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="pricingTable purple">
                <div class="pricingTable-header ">
                    <span class="price-value">10<span class="currency">$</span></span>
                    <h3 class="title">Ultra</h3>
                </div>
                <ul class="pricing-content">
                    <li>&infin; eSignatures per month</li>
                    <li>
                        &infin; Sign Requests per month
                    </li>
                    <li>&infin; Signers per doc</li>
                    <li>&infin; Emails per day</li>
                    <li>&infin; document per day</li>
                </ul>
                <a href="#" class="pricingTable-signup">Sign Up</a>
            </div>
        </div>
    </div>
</div>